  <header class="md:container md:mx-auto flex flex-row justify-between mx-6">
    <div class="">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/laplatarb-small.png" alt="Logo" class="w-16 h-16">
      </a>
    </div>

    <div>
      <nav class="flex flex-row justify-end gap-6 h-full my-auto font-md">
        <a href="{{ site.baseurl }}/tags" class="text-gray-500 hover:text-gray-900 my-auto">Tags</a>
        <a href="{{ site.github_url }}" class="text-gray-500 hover:text-gray-900 my-auto">Editar en Github</a>
      </nav>
    </div>
  </header>
