{% assign author = site.data.authors[include.post.author] %}

<div class="flex flex-row">
  <div>
    <img src="{% if author.avatar contains 'https://' %}{{ author.avatar }}{% else %}{{ site.baseurl }}{{ author.avatar }}{% endif %}" alt="{{ author.first_name }} {{ author.last_name }}" class="rounded-full w-12 h-12">
  </div>

  <div class="ml-3 flex flex-col justify-center">
    <h1 class="" title="{{ author.description }}">
      {{ author.first_name }} {{ author.last_name }}
    </h1>

    <div class="text-gray-500">
      <!-- Insertar read time acá -->
      {{ include.post.date | date: "%B %-d, %Y" }}
    </div>
  </div>
</div>
